[submodule "vendor/QualCoder"]
	path = vendor/QualCoder
	url = https://github.com/ccbogel/QualCoder
[submodule "ddd-workshop"]
	path = ddd-workshop
	url = https://github.com/PensionBee/ddd-workshop.git
