[submodule "inspiration/QualCoder"]
	path = inspiration/QualCoder
	url = https://github.com/ccbogel/QualCoder
[submodule "inspiration/ddd-workshop"]
	path = inspiration/ddd-workshop
	url = https://github.com/PensionBee/ddd-workshop.git
